.contact-form__subheading {
  margin: 0 auto 32px;
  font-size: 46px;
}

.contact-form__wrapper {
  max-width: 720px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-inline: 16px;
}

.contact-form__row-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

@media (width >= 768px) {
  .contact-form__row-container {
    flex-direction: row;
    gap: 16px;
  }
}

.contact-form__field {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 4px;
}

.contact-form__label {
  font-size: 13px;
}

.contact-form__input {
  padding: 8px 16px;
  line-height: 2;
  background-color: transparent;
  border: 1px solid #172025;
  transition: border-color 0.5s ease-in-out;
}

.contact-form__input--has-error {
  border-color: #d32f2f;
}

.contact-form__input:focus {
  outline: none;
  border-color: chocolate;
}

.contact-form__textarea {
  resize: none;
}

.contact-form__button {
  padding-block: 12px;
  color: chocolate;
  background-color: transparent;
  border: 2px solid chocolate;
  transition:
    color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.contact-form__button:hover,
.contact-form__button:focus {
  color: #fff;
  outline: none;
  background-color: chocolate;
}

.contact-form__error {
  min-height: 15px;
  margin-block: 0;
  font-size: 13px;
  color: #d32f2f;
}
