.events-page__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
  gap: 16px;
  padding-inline-start: 0;
  margin: 0;
  list-style-type: none;
}

.events-page__list-item {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.events-page__event-details {
  padding: 24px;
}

.events-page__event-info {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

.events-page__event-location {
  color: #626262;
}

.events-page__event-time {
  color: #626262;
}

.events-page__event-image {
  max-width: 100%;
}
