.events-page__hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  color: #fff;
  background-image: url('../images/fondo-events.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.events-page__hero-section h1 {
  text-align: center;
}

@media (width >= 900px) {
  .events-page__hero-section {
    margin-block-start: -68px;
  }

  .events-page__hero-section h1 {
    padding-block-start: 80px;
    margin-block-end: 0;
    font-size: 75px;
  }
}

.events-page__events {
  flex: 1;
  padding-block: 120px;
  background-image: url('../images/about-me-pattern.png');
  background-repeat: repeat;
}

.events-page__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(336px, 1fr));
  gap: 16px;
  padding-inline-start: 0;
  margin: 0;
  list-style-type: none;
}

.events-page__list-item {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: #fff;
}

.events-page__event-details {
  padding: 16px 0 0;
}

.events-page__event-info {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
}

.events-page__event-location {
  color: #626262;
}

.events-page__event-time {
  color: #626262;
}

.events-page__event-image {
  max-width: 100%;
}
