.footer {
  display: block;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
  margin: 0;
  font-size: 12px;
  background-color: rgb(183 183 183);
}

.social-media {
  display: flex;
  list-style-type: none;
}
