*{
    box-sizing: border-box;
}
html, body {
  overflow-x: hidden;
}
body {
    margin: 0;
    color:#172025;
    font-family: 'Roboto', sans-serif;
}
.content-wrapper{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  margin-block-start: 0;
}
h1 {
  font-size: 2.5rem;
}