* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #172025;
}

.content-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

.single-page__hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  color: #fff;
  background-image: url('../images/bg-hero-section.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.single-page__hero-section h1 {
  text-align: center;
}

@media (width >= 900px) {
  .single-page__hero-section {
    margin-block-start: -68px;
  }

  .single-page__hero-section h1 {
    padding-block-start: 80px;
    margin-block-end: 0;
    font-size: 75px;
  }
}

.page__heading {
  justify-self: center;
  max-width: 600px;
  padding: 16px;
  text-align: left;
  text-wrap: balance;
}

@media (width >= 640px) {
  .page__heading {
    margin: 0 auto 32px;
    text-align: center;
  }
}

@media (width >= 900px) {
  .page__heading {
    font-size: 48px;
    text-align: center;
  }
}

.page__heading > strong {
  color: chocolate;
}

.page__subheading {
  width: fit-content;
  padding-block-end: 4px;
  font-size: 32px;
  color: #172025;
  border-block-end: 2px chocolate solid;
}

.page__main-content {
  flex: 1;
  padding-block: 120px;
  background-image: url('../images/about-me-pattern.png');
  background-repeat: repeat;
}
