* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #172025;
}

.content-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}
