* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  margin: 0;
  font-family: Roboto, sans-serif;
  color: #172025;
}

.content-wrapper {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;
}

.single-page__hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  color: #fff;
  background-image: url('../images/bg-hero-section.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.single-page__hero-section h1 {
  text-align: center;
}

@media (width >= 900px) {
  .single-page__hero-section {
    margin-block-start: -68px;
  }

  .single-page__hero-section h1 {
    padding-block-start: 80px;
    margin-block-end: 0;
    font-size: 75px;
  }
}
