.hero-section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh + 100px);
  background: url('../images/fondo.jpeg') no-repeat center center fixed;
  background-size: cover;
}

@media (width >= 900px) {
  .hero-section {
    margin-block-start: -68px;
  }
}
