.hero-section {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 450px;
  background: url('../images/fondo.jpeg') no-repeat center center;
  background-size: cover;
}

@media (width >= 900px) {
  .hero-section {
    height: 100dvh;
    margin-block-start: -68px;
  }
}

.hero-section__logo {
  width: 40%;
  max-width: 440px;
}
